@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: bolder !important;

  height: 50px !important;
  width: 50px !important;
  border-radius: 100%;
  background-color: grey;
  color: rgb(178, 169, 169) !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 12px !important;
}
